/*dfffd*/
/*dfffd*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.d_flex{
    display: flex;
}

.base{
    width: 100%;
    height: 100%;
}

.content{
    width: 90%;
}

.s_red{
    background-color: red;
}

button{
    height: 30px;
    padding: 5px 8px;
    margin: 5px 5px;
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 5px;

}

input{
    border: 2px solid grey;
}

.s_green{
    background-color: green;
}

.ports_color{
    background-color: #d9ff00;
}

.ports{
    justify-content: center;
}

.f_direction_column{
    flex-direction: column;
}

.b_submit{
    padding: 5px 20px 5px;
}

.port_item{
    width: 80%;
    margin: 5px 20px;
}
@media all and (max-width: 1028px){
    .content{
        width: 100%;
    }
    .port_item{
        width: 98%;
    }

}



.port_item div{
    width: 100%;
    justify-content: space-between;
}

.port_item div.patch_desk{

    width: auto;
    padding: 0px 10px;
}


.d_flex_center{
    align-content: center;
}

.d_flex{
    align-items: center;
}

.margin_auto{
    margin: auto;
}

/*Popup css*/
.form-open{
    display: block;
}

.form-close{
    display: none;
}

.form-popup {
    position: fixed;
    top: 25%;
    left: 40%;
    border: 3px solid #f1f1f1;
    z-index: 9;

}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;

}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn-popup {
    background-color: #1976D2;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    font-size: 15px;
    font-weight: bold;
}

.form-container .cancel {
    background-color: #448AFF;
}

.form-container .btn-popup:hover, .open-button:hover {
    opacity: 1;
}

